# Generated
conf/gen/auth/*
conf/gen/build
conf/gen/cache/*
conf/gen/log
conf/gen/prisma/*
conf/gen/python/*
conf/gen/temp/*
cookies.txt
out.log


build


# Settings
*.env
test

# Modules
rollback
node_modules